
@font-face {
    font-family:"Sneak Mono";
    src:url("Sneak-Mono.woff2") format("woff2"),url("Sneak-Mono.woff") format("woff"),url("Sneak-Mono.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        