
@font-face {
    font-family:"Sneak Regular";
    src:url("Sneak-Regular.woff2") format("woff2"),url("Sneak-Regular.woff") format("woff"),url("Sneak-Regular.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        